<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="resources/editpage/styles.css" />
		<title>Midi Files</title>

		<link rel="apple-touch-icon" sizes="180x180" href="resources/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="resources/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="resources/favicons/favicon-16x16.png">
		<link rel="manifest" href="resources/favicons/site.webmanifest">
		<link rel="mask-icon" href="resources/favicons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="resources/favicons/favicon.ico">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-config" content="resources/favicons/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body> 
		<div class="listContainer">
			<% for(x in data) { %>
				<div class="listItem" onclick="selectSong(this)"
				data-songid="<%= data[x].ID %>"
				data-songname="<%= data[x].Name %>"
				data-artistName="<%= data[x].Artist %>"
				data-filename="<%= data[x].FileName %>" 
				data-accordion="<%= data[x].Accordion_Applicability %>"
				data-guitar="<%= data[x].Guitar_Applicability %>"
				data-organ="<%= data[x].Organ_Applicability %>"
				data-fiddle="<%= data[x].Fiddle_Applicability %>"
				data-piano="<%= data[x].Piano_Applicability %>"
				data-harmonica="<%= data[x].Harmonica_Applicability %>"
				data-trumpet="<%= data[x].Trumpet_Applicability %>"
				data-banjo="<%= data[x].Banjo_Applicability %>"
				data-highlighted="<%= data[x].Highlight %>"
				>
					<div class="listItemTitle"><%= data[x].Name %></div>
					<div class="listItemSubtitle"><%= data[x].Artist %></div>
				</div>
			<% } %>
		</div>
		<div style="display: flex; flex-direction: column">
			<form id="editForm" class="mainform" action="/edit" method="post" enctype="multipart/form-data">
				<div style="display: flex; flex-direction: row">
					<div style="display: flex; flex-direction: column">
						<input type="text" class="textInputBox" id="IDInputBox" name="songId" readonly placeholder="Song ID">
						<input type="text" class="textInputBox" id="fileNameInputBox" name="fileName" onclick="alert('File name is automatically changed when other song info changes')" readonly placeholder="File Name">
						<input type="text" class="textInputBox marginTop" id="songNameInputBox" name="songName" placeholder="Song Title">
						<input type="text" class="textInputBox" id="artistNameInputBox" name="artistName" placeholder="Artist Name">
					</div>
					<div style="display: flex; flex-direction: column">
						<div class="checkboxWLabel">
							<input type="checkbox" id="banjo_applicability" name="banjo_applicability">
							<label class="checkboxLabel" for="banjo_applicability">Banjo</label>
						</div>
						<div class="checkboxWLabel">
							<input type="checkbox" id="fiddle_applicability" name="fiddle_applicability">
							<label class="checkboxLabel" for="fiddle_applicability">Fiddle</label>
						</div>
						<div class="checkboxWLabel">
							<input type="checkbox" id="guitar_applicability" name="guitar_applicability">
							<label class="checkboxLabel" for="guitar_applicability">Guitar</label>
						</div>
						<div class="checkboxWLabel">
							<input type="checkbox" id="organ_applicability" name="organ_applicability">
							<label class="checkboxLabel" for="organ_applicability">Organ</label>
						</div>
						<div class="checkboxWLabel">
							<input type="checkbox" id="accordion_applicability" name="accordion_applicability">
							<label class="checkboxLabel" for="accordion_applicability">Accordion</label>
						</div>
						<div class="checkboxWLabel">
							<input type="checkbox" id="piano_applicability" name="piano_applicability">
							<label class="checkboxLabel" for="piano_applicability">Piano</label>
						</div>
						<div class="checkboxWLabel">
							<input type="checkbox" id="harmonica_applicability" name="harmonica_applicability">
							<label class="checkboxLabel" for="harmonica_applicability">Harmonica</label>
						</div>
						<div class="checkboxWLabel">
							<input type="checkbox" id="trumpet_applicability" name="trumpet_applicability">
							<label class="checkboxLabel" for="trumpet_applicability">Trumpet</label>
						</div>
						<div class="checkboxWLabel">
							<input type="checkbox" id="highlighted" name="highlighted">
							<label class="checkboxLabel" for="highlighted">Highlighted</label>
						</div>
					</div>
				</div>
				<input type="submit" class="marginTop">
			</form>
			<div class="mainform">
				<button onclick="deleteFile()" id="deleteButton">Delete this Item</button>
			</div>
		</div>
		<script src="./resources/editpage/scripts.js">
		</script> 
	</body>
</html>

